# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.history/*

# 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 - TOKEN